.comment-input-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  height: 30px;
}
.comment-input {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
}
.comment-input-button {
  height: 100%;
  padding: 0px 15px;
  background-color: rgb(37, 37, 198);
  border: none;
  color: white;
}
