.icon-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.icon-button:hover {
  scale: 1.1;
}
.icon-button:active {
  scale: 1.05;
}

.icon-button img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
